* {
    box-sizing: border-box;
}

.hide {
    display: none;
}

#header {
    background-color: rgb(13, 11, 22);
    color: antiquewhite;
    text-align: center;
    height: 90px;
    font-size: 50px;
    font-weight: bold;
}

#helpId {
    display: none;
}

#search-button {
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 6px;
    background-color: rgb(255, 47, 0);
    border: none;
}

#search-box {
    /* background-color: aquamarine; */
    height: 350px;
}

#input-field {
    margin-left: 6px;
}

#city-searched {
    border: 2px solid rgb(7, 45, 27);
    color: rgb(7, 45, 27)
    height: 350px;
}

#result-list {
    line-height: 250%;
    font-size: 25px;
}

#city-list {
    height: 350px;
    display: flex;
    flex-direction: column;
}

#city-list button {
    margin: 10px; 
    background-color: rgb(255, 47, 0);
    color: antiquewhite;
    border-radius: 5px;
    border: none;
}


.forecast-list {
    height: 400px;
    line-height: 375%;
    margin-top: 45px;
    background-color: rgb(92, 1, 54);
    color: antiquewhite;
}




